* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.error-message {
    color: rgb(246, 0, 0);
    min-width: 95%;
    padding: 7px;
    font-size: 15px;
}