.btn-submit {
    display: block;
    height: 40px;
    min-width: 100px;
    border-radius: 4px;
    border-color: #F1F2F2;
    background-color: #00bfff;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    padding: 0 12px;
}

.btn-submit:hover {
    background-color: #63d4fa;
}